@font-face{
    font-family: "Action Man";
    src: url('../Font/Action Man.ttf');
}
* {
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: skyblue;
}
a {
    color:  rgba(27, 45, 66);
    text-decoration-color: lightgray;
}
h1{
    font-family: "Action Man";
    background-color: rgba(184, 192, 199, 0.25);
    color: rgb(112, 120, 126);
    letter-spacing: 6px;
    word-spacing: 12px;
}